body
{
  font-family: 'Montserrat';
  text-align: center;
}
#title
{
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}
h1
{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid
{
  padding: 3% 15%;
}
.navbar
{
  padding-bottom: 4.5rem;
}
.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item
{
  padding: 0 1.125rem;
}
.nav-link
{
  font-family: "Montserrat";
  font-size: 1.2rem;
}
.download-button
{
  margin: 5% 3% 5% 0;
}
.title-image
{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}
@media (max-width: 1028px)
{
  #title
  {
    text-align: center;
  }
  .title-image
  {
    position: static;
    transform: rotate(0);
  }
}
.ft-images
{
  color: #ef8172;
  margin: 4% 0 2.5% 0;
}
.ft-images:hover
{
  color: #ff4c68;
}
.ft-cols
{
  line-height: 130%;
}
#features
{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
h2
{
  font-size: 3rem;
  line-height: 1.5;
}
h3
{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
}
p
{
  color: #8f8f8f;
  font-weight: lighter;
}
#testimonials
{
  background-color: #ef8172;
  color: #fff;
}
.carousel-item
{
  padding: 7% 15%;
}
.test-img
{
  width: 10%;
  border-radius: 100%;
  margin: 1.25rem;
}
#press
{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-img
{
  width:10%;
  margin:1rem 2rem;
}
#pricing
{
  padding: 5rem;
}
.row-price
{
  margin-top: 4rem;
}
#cta
{
  font-family: "Montserrat";
  color: #fff;
  background-color: #ef8172;
  padding: 5% 15%;
}
.cta-download
{
  margin: 4% 4% 4% 0;
}
#footer
{
  padding: 2% 20%;
}
.social-media
{
  padding: 0 1% 1%;
}
